@import './variables.scss';

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.dashboardUser {
  display: flex;
  flex-direction: column;
}

.userTitle {
  font-size: 3rem;
  font-weight: bold;
}

.bigAvatar {
  border-bottom: solid 3px #eaeaea;
}

.requestTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.requestList {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 0px;
}

.newQuery {
  margin: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}

.request {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #eaeaea;
  &.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #eaeaea;
  }
}

.request > * {
  font-size: 1.3rem;

  padding: 5px;
}

.request:hover,
.request:focus,
.request:active {
  transition: all 0.15s ease;
  background: $primary;
  color: $white;
  text-decoration: bold;
}

.newRequest {
  border-radius: 10px;
  background-color: black; //here
  color: white; //here
  border: 2px solid #eaeaea;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}

.newRequest:hover,
.newRequest:focus,
.newRequest:active {
  transition: all 0.15s ease;
  background: $primary;
  color: $white;
  text-decoration: bold;
}
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
