@import './variables.scss';

.form__input {
  border: 1px solid $white-dark; //here
  border-radius: 10px;
  padding: 5px;
  background-color: $white; //here
  color: $black;
}

.form__group {
  margin: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #eaeaea; //here
}

.form__label {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0rem;
}

.form__description {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 800px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.submit {
  border-radius: 20px;
  background-color: black; //here
  color: $white;
  border: 2px solid #eaeaea; //here
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  align-self: center;
}

.demos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  div{
    margin: 15px;
  }
}

.submit:hover,
.submit:focus,
.submit:active {
  transition: all 0.15s ease;
  background-color: $primary;
  color: $white;
  text-decoration: bold;
}

.loading {
  animation: 1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045) rotate;
  color: black; //here
}

.demoDescription {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 800px;
  margin: 15px;
}

.newDemo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
  gap: 15px;
  max-width: 800px;
  .form__group {
    display: flex;
    width: 100%;
    gap: 15px;
  }
}


@keyframes rotate {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
