@import './variables.scss';

.logo {
  position: fixed;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.disclaimer {
  text-align: center;
}

.providerButton {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: center;
  word-break: break-all;
  border-radius: 20px;
  font-family: inherit;
  background: inherit;
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
